@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

/* Home Page css */
header{
    display: flex;
    align-items: center;
    position: relative;
    top: 0;
    position: sticky;
}

header::before{
    content: "";
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.30;
}

#logo{
    margin: 0px 11px;
}

#logo img{
    height: 53px;
    margin: 0px 8px; 
}

nav{
    display: flex;
}

nav ul{
    display: flex;
    margin: auto;
}

nav ul li{
    list-style: none;
    padding: 2px 8px;
    font-size: 1rem;
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    font-family: Arial, sans-serif;
    font-weight: bold;
}

nav ul li a:hover{
    font-size: 1.3rem;
    transition: ease-in-out;
    font-weight: bolder;
    color: black;
    text-shadow: 2px 2px 15px red;
}

.search{
    position: relative;
    left: 585px;
    font-family: Arial, sans-serif;
}

.search input{
    padding: 5px;
    margin: 9px 4px;
    border-radius: 5px;
    font-size: 1.1rem;
    width: 15vw;
    font-family: Arial, sans-serif;
}

#home::before{
    content: "";
    position: absolute;
    background: url(../background_img/11.jpg) no-repeat center center/cover;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: -3;
    
}

.button-11{
    position: relative;
    left: 610px;
}

.button-11 button{
    padding: 5px;
    margin: 9px 0px;
    font-size: 1.1rem;
    border: none;
    font-family: Arial, sans-serif;
   
}

#searchbtn{
    background-color: green;
    color: white;
    border-radius: 7px;
    font-family: Arial, sans-serif;
}

#searchbtn:hover{
    color: green;
    background-color: white;
    border: 2px solid green;
    cursor: pointer;
}

#signinbtn{
    background-color: red;
    color: white;
    border-radius: 7px;
    font-family: Arial, sans-serif;
}

#signinbtn:hover{
    background-color: white;
    color: red;
    border: 2px solid red;
    cursor: pointer;
}

#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 250px;
    justify-content: center;
    align-items: center;
}

.h-headhome{
    font-size: 2rem;
    text-align: center;
}

#home h1{
    text-shadow: 2px 2px 15px purple;
    font-family: 'Young Serif', serif;
    color: white;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 800;
    margin-top: 240px;
}

#home p{
    text-shadow: 2px 2px 15px red;
    font-size: 1.8rem;
    text-align: center;
    color: white;
    font-weight: bold;
    font-family: 'Young Serif', serif;
}

#about1 {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
}
#about1 .pa{
    font-size: 20px;
}
#about h1{
    text-align: center;
    color: black;
    margin-top: 10px;
    margin-bottom: 0;
}

#about p{
    font-size: 20px;
}

.about .box{
    display: flex;
}

.about .box img{
    border: 3px solid rgb(229, 234, 229);
    display: block;
    height: 275px;
    margin: 4px 15px;
    border-radius: 6px;
}

.about .box p{
    text-align: start;
    padding: 7px 18px;
    font-size: 1.2ren;
    margin: 2px 20px;
}

.about .box p button{
    font-size: 0.8rem;
    border-radius: 7px;
    padding: 3px 8px;
    border: 2px solid red;
    background-color: white;
    color: red;
}

.about .box p button:hover{
    border: 2px solid red;
    background-color: red;
    color: white;
}

.h-head1{
    font-size: 1.3rem;
    padding: 12px; 
    margin-left: 155px;
}

.center{
    text-align: center;
}

/* Gallary Book Photos */
.gallary {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 4px 30px;
    position: relative;
}

.title p{
    font-size: 1.1rem;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.gallary .item{
    position: relative;
    width: 270px;
    height: 170px;
    margin: 11px 15px;
}

.gallary .item1{
    position: relative;
    width: 173px;
    height: 259px;
    margin: 14px 13px;
    margin-bottom: 25px;
}

.gallary .item img{
    width: 100%;
    height: 100%;
}

.gallary .item1 img{
    width: 100%;
    height: 100%;
}

.gallary .item1 .action{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.5s;
}

.gallary .item1 .action:hover{
    opacity: 1;

}

.gallary .item1 .action a{
    display: inline-block;
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 5px 15px;
}

.gallary .item .action .typebook{
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    text-align: center;
    background-color: rgba(0,0,0,.35);
    padding: 15px 0 16px;
    margin-top: -28px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 20px;
    line-height: 1.25;
    color: white;
    cursor: pointer;
}

/* Books CSS */

#back::before {
    content: "";
    position: absolute;
    background: url(../background_img/11.jpg) no-repeat center center/cover;
    top: 0;
    left: 0;
    height: 151vh;
    width: 100%;
    z-index: -3;    
    opacity:0.68 ;
}

.book{
    max-width: 75vw;
    margin:37px auto;
}

.my-1{
    margin: 5px 0;
}

.my-2{
    margin: 26px 0;
}

.text-center{
    text-align: center;
}

.books{
    display: flex;
    overflow: hidden;
}

.book-item{
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 15px;
}

.book-item img{
    height: 200px;
    width: 133px;
}

.book .btn-b{
   font-size: 16px;
   color: #fff;
   background-color: #0376B8;
   width: 100%;
   display: block;
   border: 0;
   border-radius: 5px;
   margin-top: 5px;
   box-sizing: border-box;
   cursor: pointer;
   text-align: center;
   padding: 7px;
   white-space: nowrap;
   line-height: 1.5em;
   text-decoration: none;
   transition: background-color .2s;
}

/* Sign in and sign out css
Date - 13/10/23 */
#sign-main{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 87vh;
    margin: 0;
}

.mycontent {
    max-width: 400px;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-left: 12px;
    padding-right: 39px;
}

h2 {
    text-align: center;
}

.form-mycontent {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin: 10px 0;
}

label {
    display: block;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.button-mycontent {
    text-align: center;
}

.button-mycontent button {
    padding: 8px 18px;
    background: orangered;
    color: #fff;
    border: none;
    border-radius: 3px;
    font-size: 15px;
    cursor: pointer;
}

.signup-link {
    text-align: center;
    margin-top: 10px;
}

.signup-link a {
    color: orangered;
    text-decoration: none;
}


/* Books Borrow */
/* 17/10/23 */

#bookpurchase{
    margin: 0 auto;
    max-width: 1366px;
    min-width: 1128px;
    padding: 0;
}
#bookborrow{
    width: 100%;
    position: relative;
    margin-left: 47px;
}
#bookborrow .book_br{
    margin: 44px 12px;
}

#bookborrow .box {
    display: flex;
    flex: 1;
    position: relative;
    border: 1px solid #f0f0f0;
}

#bookborrow .box img{
    margin: auto;
    display: flex;
    height: 380px;
    width: 269px;
    padding-right:44px;
    padding-right: 74px;
} 

#bookborrow .box #biti{
    justify-content: center;
}

#bookborrow .box #biti #book_btn1{
    padding: 9px 17px;
    margin: 8px 3px;
    width: 130px;
    font-size: 15px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 4px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
    border: none;
    float: left;
    background: #ff9f00;
    color: white;
    border-radius: 2px;
}


#bookborrow .box #biti #book_btn2{
    padding: 9px 17px;
    margin: 8px 3px;
    width: 130px;
    font-size: 15px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 4px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
    border: none;
    float: left;
    background: #fb641b;
    color: white;
    border-radius: 2px;
}

#bookborrow #book_details{
    width: 68%;
    line-height: 1.4;
}

#bookborrow #book_details h3{
    font-size: 1.6rem;
}

#bookborrow #book_details li{
    line-height: 1.6;
    font-size: 18px;
}

.spectab{
    width: 100%;
    border-collapse: collapse;
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: gray;border-top: 1px solid #f0f0f0;
    padding: 24px 24px 34px;
    font-size: 18px;
}

.tabbody ul li{
    list-style: none;
}

#payment-form {
    display: block;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    padding-right: 32px;
    margin: 145px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  #pay-now-button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  

footer{
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px 20px;
    opacity: 0.80;
    font-family: Arial, sans-serif;
}